.container {
  h4 {
    font-size: 24px;
    font-family: "CircularStd-Book", "Arial Narrow", Arial, sans-serif;
    font-weight: lighter;
    line-height: 30px;

    span {
      font-family: "CircularStd-Bold", "Arial Narrow", Arial, sans-serif;
    }
  }
}

.notification {
  margin-top: 30px;
  span {
    font-family: "CircularStd-Bold", "Arial Narrow", Arial, sans-serif;
  }
  margin-bottom: 30px;
}
