@import "../../../sass/variables";
.information {
  margin-top: 20px;
  background-color: $body-background;
  padding: 15px;

  h2 {
    font-size: 28px;
    color: $brand-primary;

    span {
      font-weight: bolder;
    }
  }

  h4 {
    font-family: "CircularStd-Bold", Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-left: 1px;
  }

  p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.percentages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer {
  font-size: 12px;

  p {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .bolder {
    margin-bottom: 0;
    font-family: "CircularStd-Bold";
  }
}
