
@import "../../../sass/variables";
@import "../dashboard.scss";

.section {
    //   display: flex;
    //   padding: 25px;
    //   align-items: center;
  
    background: $white-color;
  }
  .section-item {
    padding: 10px 50px;
  }
  
  .section-title {
    color: $brand-primary;
    display: flex;
    font-family: "CircularStd-Book", Arial, "Helvetica Neue", Helvetica,
      sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .section-title:focus {
    @extend .item-focus;
  }


.section__arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}

.section__arrow::after,
.section__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
}

.section__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-selected='true'] .section__arrow::before {
    transform: rotate(-45deg);
}

.section__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-selected='true'] .section__arrow::after {
    transform: rotate(45deg);
}

.section__arrow::before,
.section__arrow::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
