@import "../../sass/variables";
//@import '../../sass/base';
.trackerContainer {
    @extend .column-flex;
    a {
        text-decoration: none;
    }
}

.trackerItem {
    display: flex;
    cursor: pointer;
    color: $brand-primary;
    font-family: "NotoSans-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.trackerItemActive {
    @extend .trackerItem;
    font-family: "NotoSans-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.indicator {
    color: $brand-primary;
    font-size: 20px !important;
    text-decoration: none;
}

.indicatorActive {
    color: $brand-primary;
}

.text {
    margin-left: 20px;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}

.text:hover {
    color: $brand-primary-hover;
    border-bottom: 1px solid $brand-primary-hover;
    padding-bottom: 3px;
}

.separator {
    border-left: solid 2px gray;
    height: 15px;
    margin-left: 9px;
    margin-bottom: 4px;
    margin-top: 4px;
    opacity: 0.4;
}

.checkMark {
    display: inline-block; // margin-left: -18px;
    &:after {
        /*Add another block-level blank space*/
        content: "";
        display: block;
        /*Make it a small rectangle so the border will create an L-shape*/
        width: 5px;
        height: 9px;
        /*Add a white border on the bottom and left, creating that 'L' */
        border: solid $white-color;
        border-width: 0 2px 2px 0;
        /*Rotate the L 45 degrees to turn it into a checkmark*/
        transform: rotate(45deg);
        margin-left: -12px;
        margin-top: 4px;
    }
}