@import "../../sass/variables.scss";

.risk-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  padding: 15px;

  cursor: pointer;
}

.risk-item-active {
  @extend .risk-item;
  background-color: $body-background;

  .radio {
    background-color: $brand-primary;
  }
}

.risk-item:hover {
  background-color: $body-background;

  .radio {
    background-color: $brand-primary-hover;
  }
}

.radio {
  height: 28px;
  width: 28px;
  border: 1px solid $brand-primary;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.value {
  font-family: "NotoSans-Bold";
  margin-left: 15px;
}

.item {
  display: flex;
  color: $brand-primary;

  label {
    font-family: "NotoSans-Regular";
    font-weight: 100;
  }
}

.description {
  color: $black-colour;
}



.checkMark {
  display: inline-block; // margin-left: -18px;
  &:after {
    content: "";
    display: block;
    width: 7px;
    height: 12px;
    border: solid #14E6F1;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -17px;
    margin-top: 7px;
  }
}