@import "../../sass/variables";

.wizard-box {
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: $brand-primary-hover;
  color: $white-color;
  padding: 10px;
  height: 90px;

  button {
    background: $white-color;
    color: $brand-primary;
    padding: 5px 10px;
    border: solid 1px $brand-primary;
  }
}

.head {
  display: flex;
  flex: 1;
}

.counter {
  flex: 1;
}

.close-container {
  align-self: flex-end;
}

.close {
  font-size: 12px;
  cursor: pointer;
}