@import '../../sass/variables';

.tfContainer {
  display: flex;
  flex-direction: column;
  font-family: NotoSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
//
//label {
//
//  font-weight: 500;
//  color: $brand-primary;
//  margin-bottom: 12px;
//  margin-top: 12px;
//  font-size: 15px;
//}

.input {
  padding-left: 16px;
  border: solid 1px $border-color;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  width: 100%;
}