@import "../../../../sass/variables";
.container {
    display: flex;
    position: relative;
    margin-top: 40px;
}

.graph-container {
    display: flex;
    span.axis {
        font-size: 12px;
        width: 70px;
    }
}

.tooltip {
    padding: 10;
    position: absolute;
    width: 300px;
    color: #4a4a4a !important;
    background: #fff !important;
    border-radius: 6px;
    font-family: "Noto Sans";
    font-size: 13px;
    line-height: 17px;
    z-index: 1099;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(191, 191, 191, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(191, 191, 191, 1);
    box-shadow: 0px 0px 24px 0px rgba(191, 191, 191, 1);
}

.tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    position: absolute;
    top: 20px;
    left: -20px;
}

.tooltip-active {
    @extend .tooltip;
}

@mixin block($height, $width) {
    position: absolute;
    background: transparent;
    border-top: dashed 1px;
    border-right: dashed 1px;
    border-color: $gray;
    bottom: 0;
    height: $height;
    width: $width;
}

@mixin diagonal($width, $top, $left) {
    position: absolute;
    height: 30px;
    width: $width;
    top: $top;
    left: $left;
    background: transparent;
    z-index: 0;
    border-top: solid 1px $gray;
    -webkit-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    transform: rotate(-33deg);
}

.diagonal1 {
    @include diagonal(40px, 16px, 5px);
}

.diagonal2 {
    @include diagonal(90px, 23px, 55px);
}

.diagonal3 {
    @include diagonal(120px, 43px, 96px);
}

.diagonal4 {
    @include diagonal(90px, 23px, 227px);
}

.diagonal5 {
    @include diagonal(90px, 23px, 315px);
}

.diagonal6 {
    position: absolute;
    height: 37px;
    width: 42px;
    top: 11px;
    left: 401px;
    background: transparent;
    z-index: 0;
    border-top: solid 1px $gray;
    -webkit-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    transform: rotate(-33deg);
}

.data-container {
    display: flex;
    flex-direction: column;
}

.yaxis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 15px;
    text-align: right;
    font-family: 'NotoSans-Bold';
    margin-top: 10px;
    margin-bottom:15px;
}

.xaxis {
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-top: 15px;
    span {
        font-size: 12px;
        font-family: 'NotoSans-Bold';
        width: 85px;
        text-align: center;
    }
    span:first-of-type {
        margin-left: 17px;
    }
}

.data {
    position: relative;
    height: 280px;
    width: 430px;
    background: $body-background;
    border: solid 1px lightgray;
}

.block1 {
    @include block(30px, 45px);
}

.block2 {
    @include block(84px, 130px);
}

.block3 {
    @include block(140px, 216px);
}

.block4 {
    @include block(196px, 302px);
}

.block5 {
    @include block(252px, 389px);
}

.circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: solid 1px $brand-primary;
    background-color: $white-color;
    position: absolute;
    right: -14px;
    top: -15px;
    z-index: 5000;
    &:hover {
        background-color: $brand-primary-hover;
    }
}

.circle-active {
    @extend .circle;
    background: $brand-primary;
    &:after {
        content: "";
        display: block;
        width: 7px;
        height: 12px;
        border: solid $button-active-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-left: 15px;
        margin-top: 9px;
    }
}

.axis-label {
    font-family: "NotoSans-Bold";
    font-size: 16px !important;
    color: $brand-primary;
}

.labelx {
    @extend .axis-label;
    position: absolute;
    top: -10px;
    left: -45px;
    transform: rotate(-90deg);
}

.labely {
    @extend .axis-label;
    position: absolute;
    top: 110px;
    left: 200px;
    transform: rotate(0deg);
    width: 100px;
}