@import "../../sass/variables";

.modal {
  background-color: $white-color;
  border-radius: 5px;
  max-height: 800px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 650px;
  display: flex;
  flex-direction: column;

  margin-top: 70px;
  form {
    padding: 35px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50;
  z-index: 10000;
}

.close {
  margin-top: 20px;
  margin-right: 15px;
  align-self: flex-end;
  cursor: pointer;
}
