@import "../../sass/_variables.scss";
.sub-header {
}

.title {
  display: flex;
  font-family: "CircularStd-Light", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  color: #002a5e;
  align-items: center;
}

.titlePadding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.percentage {
  padding-top: 15px;
  padding-bottom: 15px;
}

.title .title-application {
  float: right;
  font-size: 20px;
}

.title-application .name {
  font-family: "CircularStd-Bold", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
}

.title .title-dashboard {
  font-size: 18px;
  margin-top: 15px;
  h1 {
    color: $black-colour;
  }
}

.backLinkContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 18px;
  a {
    margin-top: 4px;
  }
}

.backLink {
  display: flex;
  align-items: center;
}

.chevron {
  margin-left: 5px;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-bottom: solid 2px $brand-primary;
  border-left: solid 2px $brand-primary;
  transform: rotate(45deg);
}

.showSection {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.showSectionText {
  display: flex;
  align-items: center;

  svg {
    margin-left: 16px;
  }
}
