$body-background: #F2F4F7;
$brand-primary: #002A5E;
$brand-primary-hover: #2D55B2;
$white-color: #fff;
$error: #D0021B;
$border-color: rgba(0, 42, 94, 0.5);
$green-highlight-color: #63C532;
$checked: #50E3C2;
$button-active-color: #14E6F1;
.column-flex {
    display: flex;
    flex-direction: column;
}

$breakpoint-xs:576px;
$breakpoint-sm:768px;
$breakpoint-md:992px;
$breakpoint-lg:1200px;
$skip-colour:#F8A908;
$black-colour:#000;
$light-blue:#2D55B2;
$vertical-separator: #B0B0B0;
$gray: #A6A6A6;