$body-background: #f2f4f7;
$brand-primary: #002a5e;
$brand-primary-hover: #2d55b2;
$white-color: #fff;
$error: #d0021b;
$border-color: rgba(0, 42, 94, 0.5);
$green-highlight-color: #63c532;
$checked: #50e3c2;
$button-active-color: #14e6f1;
.column-flex {
  display: flex;
  flex-direction: column;
}

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$skip-colour: #f8a908;
$black-colour: #000;
$light-blue: #2d55b2;
$vertical-separator: #b0b0b0;
$gray: #a6a6a6;
$percentage-bg: rgba(45, 85, 178, 0.15);
