@import '../sass/variables';
.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-right: 50px; // max-width: 600px;
    padding: 36px 50px;
    font-family: NotoSans-Regular, 'NotoSans-Regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.form {
    background-color: white;
    padding: 36px 50px;
}

.heading {
    margin-top: 20px;
}

.field-container {
    display: flex;
    flex-direction: column;
}

.currency-container {
    border: solid 1px rgba(0, 42, 94, 0.5);
    border-radius: 4px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin: 0;
}

.label-container {
    display: flex;
    margin-bottom: 8px;
    margin-top: 36px;
    align-items: center;
    label {
        //
        font-weight: 500;
        color: $brand-primary;
        font-size: 16px;
        margin-bottom: 0;
    }
    span {
        font-size: 18px;
    }
}

.custom-label-container {
    @extend .label-container;
    margin-bottom: 20px;
    margin-top: 20px;
    color: $brand-primary;
    p {
        align-self: flex-end
    }
}

.currency {
    font-size: 18px;
    margin-right: 5px;
    opacity: 0.5;
}

.currency-input {
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 100%;
    resize: none;
    input:focus {
        border: 0;
        outline: 0;
    }
}

.textarea {
    margin-top: 20px;
}

.sub-heading {
    font-size: 28px;
    font-family: CircularStd-Bold, Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.introduction {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sub-section {
    margin-bottom: 10px;
    margin-top: 20px;
}

.sub-section:last-child {
    margin-top: 40px;
}

.hintText {
    font-size: 14px;
    color: darkgray;
}

.check {
    margin-left: 15px;
    margin-top: 30px;
    input[type="checkbox"] {
        margin-left: -15px;
    }
    @media screen\0 \\0 {
        input[type="checkbox"] {
            margin-top: -10px;
        }
    }
}

.additionalMargin {
    @media screen\0 \\0 {
        input[type="checkbox"] {
            margin-top: -30px;
        }
    }
}

.info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    text-decoration: underline;
}

.mini-heading {
    margin-top: 20px;
    font-family: 'NotoSans-Bold', Arial, Helvetica, sans-serif,
}

.textarea {
    margin-top: 20px;
}