@import './variables';
:global(.form-error) {
    position: relative;
    font-family: NotoSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    background-color: #D0021B;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 3px 10px;
}

:global(.input-error) {
    border: solid 1px $error;
    border-radius: 4px;
     :global(.Select-control) {
        border: 0;
    }
}

:global(.form-error:before) {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $error;
    position: absolute;
    top: -10px;
}

button {
    font-family: NotoSans-Bold, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

:global(.radio-group) {
    display: flex;
    flex-direction: column;
    color: $brand-primary;
}

:global(.label) {
    margin-bottom: 15px;
    margin-top: 15px;
}

:global(.tip) {
    color: darkgray;
    margin-left: 16px;
}

:global(.sub-heading) {
    margin-bottom: 10px;
    margin-top:40px;
}

:global(.bold-text) {
    font-family: "NotoSans-Bold", Arial, Helvetica, sans-serif;
}

:global(.btn-disabled) {
    opacity: 0.3;
}

:global(.chevron-left) {
    margin-right: 5px;
    width: 6px;
    height: 6px;
    border-bottom: solid 2px $brand-primary;
    border-left: solid 2px $brand-primary;
    transform: rotate(45deg);
}

:global(.chevron-right) {
    margin-left: 5px;
    width: 6px;
    height: 6px;
    border-top: solid 2px $brand-primary;
    border-right: solid 2px $brand-primary;
    transform: rotate(45deg);
}

:global(.readonly) {
    opacity: 0.4;
}