.Select {
    height: 42px;
}

.Select.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: #002A5E;
}

.Select-control {
    border-color: rgba(0, 42, 94, 0.5);
    padding: 3px;
    height: 40px;
    overflow: auto;
}

.Select-input {
    height: 0;
}

.Select-value {
    padding-left: 16px !important;
    padding-right: 16px !important;
    line-height: 38px !important;
}

.Select:not(.is-open) .Select-multi-value-wrapper:hover .Select-value {
    background-color: #2D55B2;
}

.Select:not(.is-open) .Select-multi-value-wrapper:hover~.Select-arrow-zone .Select-arrow {
    border-right: solid 3px #FFF !important;
    border-bottom: solid 3px #FFF !important;
}

.Select:not(.is-open) .Select-multi-value-wrapper:hover .Select-value-label {
    color: white !important;
}

.Select.is-open .Select-value-label {
    color: #14E6F1 !important;
}

.Select-arrow {
    width: 12px;
    height: 12px;
    border-color: transparent;
    border-style: none;
    border-right: solid 3px #002A5E;
    border-bottom: solid 3px #002A5E;
    margin-bottom: 5px;
    transform: rotate(45deg);
}

.Select.is-open >.Select-control .Select-arrow {
    border-color: transparent;
    border-style: none;
    border-left: solid 3px #14E6F1;
    border-top: solid 3px #14E6F1;
    margin-bottom: 0;
    margin-top: 7px;
    transform: rotate(45deg);
}

.Select.is-open >.Select-control .Select-value {
   background-color: #002A5E;
   color: #14E6F1;
}

.Select.is-open.Select--single>.Select-control .Select-value .Select-value-label {
    color: #14E6F1;
}

.Select-option.is-focused {
  background-color:#2D55B2;
  color: #FFF;
}

.Select-option.is-selected {
  background-color: #002A5E;
  color: #14E6F1;
}