@import "../../../sass/variables";

.marker {
  margin-top: 20px;
}

.indicators {
  display: flex;
  color: $brand-primary;
  font-family: CircularStd-Light, Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-top: 5px;
  font-size: 12px;
}

.left {
  flex: 1;
}

.heading {
  font-size: 12px;
}

.result {
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
}
